<!--Displays all clients-->
<div class="row">
  <div class="col-md-12">
    <h1>Bella Stylists</h1>

    #foreach($stylist in $stylists.all())
      <div class="well">
        $stylists.getClientName()
        <li>$stylists.getPhone()</li>
        <li>$stylists.getEmail()</li>
        <li>$stylists.getAddress()</li>
      </div>
    #end

  </div>
</div>

<br><h3><a href="/">Home</a></h3></br>
